<div class="contenedor">
    <h1>Modificar Información</h1>
    <div class="body">
        <div class="mb-3 mt-3">
            <label>Usuario</label>
            <input type="text" [(ngModel)]="usuario" class="" placeholder="Ingrese usuario">
        </div>
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="nombre" class="" placeholder="Ingrese nombre">
        </div>
        <div class="mb-3">
            <label>Apellido</label>
            <input type="text" [(ngModel)]="apellido" class="" placeholder="Ingrese apellido">
        </div>
        <div class="mb-3">
            <label>Correo</label>
            <input type="text" [(ngModel)]="correo" class="" placeholder="Ingrese correo">
        </div>
        <div class="mb-3">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]="telefono" class="" placeholder="Ingrese teléfono">
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-success btn-lg" (click)="updatePerfil()">Modificar</button>
        </div>
        
    </div>
</div>
