<div class="contenedor">
  <div *ngIf="tipoAmortizacion === 'alemana'" >
    <div #htmlData>
      <div *ngIf="cobrosIndirectos.length > 0">
        <div class="encabezado">
          <img [src]="logoBanco" alt="Logo del banco" style="max-width: 100px" id="logo" />
          <p>{{ nombreBanco }}</p>
        </div>
        <hr class="solid">
        <div class="cuerpoDocumento">
          <div class="detalleCredito">
            <div class="datos-entrada">
              <h3>Detalles del credito</h3>
              <p>Tipo de Crédito: {{ tipoCredito }}</p>
              <p>Monto del Préstamo: {{ montoPrestamo | currency }}</p>
              <p>Plazo en Meses: {{ plazoMeses }}</p>
              <p>Interés Anual: {{ formatTasaInteres() }}%</p>
              <p>Tipo de Amortización: {{ tipoAmortizacion }}</p>
              <p>Dirección del Banco: {{ direccionBanco }}</p>
            </div>
            <div>
              <h3>Cobros Indirectos</h3>
              <ul>
                <li *ngFor="let cobro of cobrosIndirectos">
                  {{ cobro.nombreCobroIndirecto }} -
                  {{ cobro.montoSeguro | currency }}
                </li>
              </ul>
            </div>
          </div>
          <div class="tablaAmortizacion">
            <h2>Amortización alemana</h2>
            <!-- Tabla de Amortización (Sistema Alemán) -->
            <div class="table-responsive">
              <table class="table table-bordered amortizacion-table">
                <thead>
                  <tr>
                    <th>Periodo</th>
                    <th>Cuota</th>
                    <th>Interés</th>
                    <th>Amortización</th>
                    <th>Capital</th>
                    <th>Saldo Restante</th>
                    <th>Cobros Indirectos</th>
                    <th>Cuota + Cobros Indirectos</th>
                    <!-- Nueva columna -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of amortizacionAlemana">
                    <td>{{ pago.periodo }}</td>
                    <td>{{ pago.cuota | currency }}</td>
                    <td>{{ pago.interes | currency }}</td>
                    <td>{{ pago.amortizacion | currency }}</td>
                    <td>{{ pago.capital | currency }}</td>
                    <td>{{ pago.saldoRestante | currency }}</td>
                    <td>{{ pago.cobrosIndirectos | currency }}</td>
                    <td>{{ pago.sumaCuotaCobrosIndirectos | currency }}</td>
                    <!-- Mostrar la suma de cuota + cobros indirectos -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="botonPDF">
      <button (click)="generarPDF()">Descargar PDF</button>
    </div>
  </div>
</div>
