<div *ngIf="cobrosIndirectos.length > 0" #cobrosIndirectosSection>
  <!-- Contenido de Cobros Indirectos -->
  <h2>Cobros Indirectos</h2>
  <ul>
    <li *ngFor="let cobro of cobrosIndirectos">
      {{ cobro.nombreCobroIndirecto }} - Monto: {{ cobro.montoSeguro | currency }}
    </li>
  </ul>
</div>

<div *ngIf="amortizacionAlemana.length > 0">
  <button (click)="generarPDF()">Descargar PDF</button>

  <h2>Tabla de Amortización (Sistema Alemán)</h2>
  <div class="table-responsive" #amortizacionTable>
    <table class="table table-bordered">
      <!-- Encabezados y filas de la tabla -->
      <thead>
        <tr>
          <th>Periodo</th>
          <th>Cuota</th>
          <th>Interés</th>
          <th>Amortización</th>
          <th>Capital</th>
          <th>Saldo Restante</th>
          <th>Cobros Indirectos</th>
          <th>Cobros Indirectos + Cuota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of amortizacionAlemana">
          <td>{{ pago.periodo }}</td>
          <td>{{ pago.cuota | currency }}</td>
          <td>{{ pago.interes | currency }}</td>
          <td>{{ pago.amortizacion | currency }}</td>
          <td>{{ pago.capital | currency }}</td>
          <td>{{ pago.saldoRestante | currency }}</td>
          <td>{{ pago.cobrosIndirectos | currency }}</td>
          <td>{{ pago.sumaCuotaCobrosIndirectos | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
