<!--<app-header></app-header>-->
<div class="contenedor">
    <div class="login-container">

        <div class="top-section">
            <img src="../../assets/financial-profit.png" alt="Logo2" style="width: 100px; height: auto;">
            <h1>Bienvenido a Finansi</h1>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="correo"  placeholder="Ingrese Correo" required="true">
            
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="contrasenia"  placeholder="Ingrese Contraseña">
            
        </div>
        <div class="d-grid gap-2">
            <button type="button"  (click)="login()">Ingresar</button>
        </div>
        <p>No tienes cuenta? <a href="/registro">Regístrate!!</a></p>

    </div>
</div>

<!---<app-footer></app-footer>-->