<header class="header">
    <img class="logo" src="../../assets/logo2.png" alt="Logo">
    <nav class="nav">
        <ul>
            <li><a routerLink="/perfil" class="button">Perfil</a></li>
        </ul>
    </nav>
</header>

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a (click)="emitirCambioPantalla('pagos')" class="button">Sistema de Prestamos</a>
        </li>
        <li class="nav-item">
            <a (click)="emitirCambioPantalla('inversiones')" class="button">Sistema de Inversiones</a>
        </li>
    </ul>
</nav>
