<ng-container *ngIf="getRolUsuario() === 'Usuario'">
    <app-headerprincipal (cambiarPantalla)="cambiarPantalla($event)"></app-headerprincipal>
</ng-container>

<ng-container *ngIf="getRolUsuario() === 'Admin'">
    <app-headerprincipaladmin (cambiarPantalla)="cambiarPantalla($event)"></app-headerprincipaladmin>
</ng-container>

<ng-container *ngIf="pantallaActual === 'pagos'">
    <app-prestamos></app-prestamos>
</ng-container>

<ng-container *ngIf="pantallaActual === 'inversiones'">
    <app-inversiones></app-inversiones>
</ng-container>

<ng-container *ngIf="pantallaActual === 'bancos'">
    <app-bancos></app-bancos>
</ng-container>

<ng-container *ngIf="pantallaActual === 'perfil'">
    <app-perfil></app-perfil>
</ng-container>

<ng-container *ngIf="pantallaActual === 'login'">
    <app-login></app-login>
</ng-container>
<ng-container *ngIf="pantallaActual === 'registro'">
    <app-registro></app-registro>
</ng-container>
