<div class="contenedor">
  <h1>Formulario de Inversión</h1>
  <div class="formulario">

    <form (ngSubmit)="submitForm()">
      <div class="ingreso">
        <label for="banco">Selecciona un banco:</label>
        <select id="banco" name="banco" [(ngModel)]="selectedBancoId" required>
          <option value="">Selecciona un banco...</option>
          <option *ngFor="let banco of bancos" [value]="banco.id_Banco">{{ banco.nombre }}</option>
        </select>
      </div>
      <div class="ingreso">
        <label for="monto">Monto a Invertir:</label>
        <input type="number" id="monto" name="monto" [(ngModel)]="montoInvertir" required>
      </div>
      <div class="ingreso">
        <label for="plazo">Plazo:</label>
        <select id="plazo" name="plazo" [(ngModel)]="tipoPlazo" required>
          <option value="">Selecciona el plazo...</option>
          <option value="diario">Diario</option>
          <option value="mensual">Mensual</option>
          <option value="anual">Anual</option>
        </select>
      </div>
      <div>
        <label for="cantidadPlazos">Cantidad de Plazos:</label>
        <input type="number" id="cantidadPlazos" name="cantidadPlazos" [(ngModel)]="cantidadPlazos" required>
      </div>
      <button type="submit" (click)="toastInversion()">Invertir</button>
    </form>

    <div *ngIf="valorFinal !== undefined" class="inversion">
      <div class="encabezadoInversion">
        <div>
          <h3>Detalle Inversión</h3>
        </div>
        <div class="tasaInteres">
          <p>Tasa de Interés</p>
          <p>{{ porcentajeInversion }}%</p>
        </div>
      </div>
      <div class="detalleInversion">
        <div>
          <p>Valor Final de la Inversión</p>
          <p class="valor"> {{ montoInvertir | currency }}</p>
        </div>
        <div>
          <p>Beneficio: </p>
          <p class="valor">{{ beneficio | currency}}</p>
        </div>
        <hr class="solid">
        <div>
          <p>Valor Final de la Inversión:</p>
            <p class="valor">{{ valorFinal | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>