.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/fondoPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 70px;
    width: auto;
}

.formulario{
    margin-bottom: 70px;
    background-color: aliceblue;
    min-width: 50vw;
    padding: 30px 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}

#monto{
    color: #fff;
}

.formulario *{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

input, select{
    padding: 10px;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff !important; 
}
.ingreso{
    margin-top: 20px;
}

.inversion{
    background-color: #ffffff4f;
    border-radius: 15px;
    padding: 30px;
}

.detalleInversion div,
.encabezadoInversion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detalleInversion{
    margin-top: 20px;
}

.detalleInversion div p{
    font-size: 18px;
}

.encabezadoInversion{
    align-items: center;
}

.tasaInteres{
    background-color: #0000003a;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
}

h3, 
.tasaInteres{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000 !important;
}

.tasaInteres p{
    margin: 0;
}

.valor{
    text-align: right;
}