<div class="contenedor">
  <h1>Simulador de Créditos</h1>
  <div class="formulario">
    <div class="informacionBanco" *ngIf="bancos.length > 0">
      <div class="ingreso">
        <label>Selecciona un banco</label>
        <select (change)="onBancoSelect($event)">
          <option value="">Selecciona un banco...</option>
          <option *ngFor="let banco of bancos" [value]="banco.id_Banco">
            {{ banco.nombre }}
          </option>
        </select>
      </div>
      <div *ngIf="selectedBancoId">
        <div *ngIf="prestamos.length > 0">
          <form class="formularioDetalle" (submit)="submitForm()">
            <div class="ingreso">
              <label>Tipo de crédito:</label>
              <select (change)="onPrestamoSelect($event)">
                <option value="">Selecciona un tipo de préstamo...</option>
                <option *ngFor="let prestamo of prestamos" [value]="prestamo.id_Prestamo">
                  {{ prestamo.tipo }}
                </option>
              </select>
            </div>
            
            <div class="ingreso">
              <label for="monto">Monto Solicitado:</label>
              <input type="number" id="monto" name="monto" [(ngModel)]="montoSolicitado" required (focus)="mostrarRango()">
            </div>      
            <div class="ingreso">
              <label for="plazo">Plazo en Meses:</label>
              <input type="number" id="plazo" name="plazo" [(ngModel)]="plazoMeses" required (input)="validarPlazo()">
            </div>
            
            <div class="ingreso">
              <label for="interes">Interés Anual:</label>
              <input type="text" id="interes" name="interes" [(ngModel)]="interesAnualPorcentaje" [readonly]="true">
            </div>
            <div class="ingreso">
              <label for="tipoAmortizacion">Tipo de Amortización:</label>
              <select id="tipoAmortizacion" name="tipoAmortizacion" [(ngModel)]="tipoAmortizacion"
                (change)="onTipoAmortizacionSelect($event)">
                <option value="alemana">Amortización Alemana</option>
                <option value="francesa">Amortización Francesa</option>
              </select>
            </div>
            <button type="submit" (click)="onCalcularClick()">Calcular Amortización</button>
          </form>
        </div>
      </div>
  </div>
  <div class="tabla">
    <div *ngIf="tipoAmortizacion === 'alemana'">
      <app-amortizacion-alemana #amortizacionAlemana
        [montoPrestamo]="montoSolicitado"
        [plazoMeses]="plazoMeses"
        [tasaInteresAnual]="interesAnual">
      </app-amortizacion-alemana>
    </div>
    <div *ngIf="tipoAmortizacion === 'francesa'">
      <app-amortizacion-francesa #amortizacionFrancesa
        [montoPrestamo]="montoSolicitado"
        [plazoMeses]="plazoMeses"
        [tasaInteresAnual]="interesAnual"
        [idBancoSeleccionado]="selectedBancoId">
      </app-amortizacion-francesa>
    </div>
  </div>
  
</div>
