<!-- prestamos.component.html -->

<div class="container">
        <p>PRESTAMOS</p>
        <div class="formulario" *ngIf="bancos.length > 0">
          <h2>Selecciona un banco</h2>
          <select (change)="onBancoSelect($event)">
            <option value="">Selecciona un banco...</option>
            <option *ngFor="let banco of bancos" [value]="banco.id_Banco">
              {{ banco.nombre }}
            </option>
          </select>
          
          <div *ngIf="selectedBancoId">
            <img [src]="selectedBancoLogoUrl()" alt="Logo del banco" style="max-width: 100px;">
            
            <div *ngIf="prestamos.length > 0">
              <h3>Tipos de Préstamos del Banco</h3>
              <select (change)="onPrestamoSelect($event)">
                <option value="">Selecciona un tipo de préstamo...</option>
                <option *ngFor="let prestamo of prestamos" [value]="prestamo.id_Prestamo">
                  {{ prestamo.tipo }}
                </option>
              </select>
              
              <h3>Ingrese los detalles del préstamo</h3>
              <form (submit)="submitForm()">
                <div>
                  <label for="monto">Monto Solicitado:</label>
                  <input type="number" id="monto" name="monto" [(ngModel)]="montoSolicitado" required>
                </div>
                <div>
                  <label for="plazo">Plazo en Meses:</label>
                  <input type="number" id="plazo" name="plazo" [(ngModel)]="plazoMeses" required>
                </div>
                <div>
                  <label for="interes">Interés Anual:</label>
                  <input type="text" id="interes" name="interes" [(ngModel)]="interesAnualPorcentaje" [readonly]="true">
                </div>
                <div>
                  <label for="tipoAmortizacion">Tipo de Amortización:</label>
                  <select id="tipoAmortizacion" name="tipoAmortizacion" [(ngModel)]="tipoAmortizacion" (change)="onTipoAmortizacionSelect($event)">
                    <option value="alemana">Amortización Alemana</option>
                    <option value="francesa">Amortización Francesa</option>
                  </select>
                </div>
                <button type="submit">Solicitar Préstamo</button>
              </form>
            </div>
            
            <div *ngIf="tipoAmortizacion === 'alemana'">
              <!-- Mostrar tabla de amortización alemana si se seleccionó ese tipo -->
              <app-amortizacion-alemana
                [montoPrestamo]="montoSolicitado"
                [plazoMeses]="plazoMeses"
                [tasaInteresAnual]="interesAnual"
                [idBancoSeleccionado]="selectedBancoId">
              </app-amortizacion-alemana>
            </div>
            
            <div *ngIf="tipoAmortizacion === 'francesa'">
              <!-- Mostrar tabla de amortización francesa si se seleccionó ese tipo -->
              <app-amortizacion-francesa
                [montoPrestamo]="montoSolicitado"
                [plazoMeses]="plazoMeses"
                [tasaInteresAnual]="interesAnual"
                [idBancoSeleccionado]="selectedBancoId">
              </app-amortizacion-francesa>
            </div>
          </div>
        </div>
      </div>
      
<!--
        <app-frances></app-frances>
-->