<div class="wrapper">
    <div class="body">
        <h3>Modificar Información</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="nombre" class="form-control">
            <label>Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="logo" class="form-control">
            <label>Logo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="direccion" class="form-control">
            <label>Direccion</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" (click)="openModalPrestamo()">Prestamos</button>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="tipo" class="form-control">
            <label>Tipo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="tasa" class="form-control">
            <label>Tasa Interes</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="monto_min" class="form-control">
            <label>Monto Minimo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="monto_max" class="form-control">
            <label>Monto Maximo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="detalle" class="form-control">
            <label>Detalles</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Tasa Interes</th>
                    <th>Monto Minimo</th>
                    <th>Monto Maximo</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prestamo of prestamos">
                    <!-- Verificar si el id_Banco coincide con el del localStorage -->
                    <ng-container *ngIf="prestamo.id_Banco === idBanco">
                        <td>{{ prestamo.tipo }}</td>
                        <td>{{ prestamo.tasa_interes }}</td>
                        <td>{{ prestamo.monto_min }}</td>
                        <td>{{ prestamo.monto_max }}</td>
                        <td>{{ prestamo.detalles }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        
        
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" (click)="openModalInversiones()">Inversiones</button>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="interes_diario" class="form-control">
            <label>Interes Diario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="interes_mensual" class="form-control">
            <label>Interes Mensual</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="interes_anual" class="form-control">
            <label>Interes Anual</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" (click)="openModalCobros()">Cobros Indirectos</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cobro of cobros">
                    <!-- Verificar si el id_Banco coincide con el del localStorage -->
                    <ng-container *ngIf="cobro.id_Banco === idBanco">
                        <td>{{ cobro.nombreCobroIndirecto }}</td>
                        <td>{{ cobro.montoSeguro }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        
        
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-success btn-lg" (click)="updateBanco()">Modificar</button>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog custom-modal-size">
        <div class="modal-content">
            <div class="p-4">
                <h1 class="modal-title fs-6" id="exampleModalToggleLabel">Registro Prestamo</h1>
            </div>
            <div class="body">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="tipoM" class="form-control">
                    <label for="tipoM">Tipo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="tasaM" class="form-control">
                    <label for="tasaM">Tasa Interes</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="montoMin" class="form-control">
                    <label for="montoMin">Monto Minimo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="montoMax" class="form-control">
                    <label for="montoMax">Monto Maximo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="detalleM" class="form-control">
                    <label for="detalleM">Detalles</label>
                </div>

            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary" (click)="addPrestamos()">Guardar</button>
                <button type="button" class="btn btn-primary" (click)="closeModalPrestamo()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog custom-modal-size">
        <div class="modal-content">
            <div class="p-4">
                <h1 class="modal-title fs-6" id="exampleModalToggleLabel">Registro Inversiones</h1>
            </div>
            <div class="body">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="interesD" class="form-control">
                    <label for="interesD">Interes Diario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="interesM" class="form-control">
                    <label for="interesM">Interes Mensual</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="interesA" class="form-control">
                    <label for="interesA">Interes Anual</label>
                </div>
            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary" (click)="addInversiones()">Guardar</button>
                <button type="button" class="btn btn-primary" (click)="closeModalInversiones()">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog custom-modal-size">
        <div class="modal-content">
            <div class="p-4">
                <h1 class="modal-title fs-6" id="exampleModalToggleLabel">Registro Cobros</h1>
            </div>
            <div class="body">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="nombreCobro" class="form-control">
                    <label for="nombreCobro">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="montoCobro" class="form-control">
                    <label for="montoCobro">Monto</label>
                </div>

            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary" (click)="addCobrosIndirectos()">Guardar</button>
                <button type="button" class="btn btn-primary" (click)="closeModalCobros()">Cerrar</button>
            </div>
        </div>
    </div>
</div>