.header {
    background-color: #000;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.logo {
    max-width: 50px;
    margin-right: 50px;
    margin: 10px 30px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav ul li a.button {
    color: white; /* Cambia el color del texto del botón según tus preferencias */
    background-color: #01812e; /* Cambia el color de fondo del botón */
    padding: 8px 16px; /* Ajusta el espacio interno del botón según tus preferencias */
    border-radius: 4px; /* Añade esquinas redondeadas al botón */
    text-decoration: none;
    margin: 20px;
}

.nav ul li a.button:hover {
    background-color: #016339; /* Cambia el color de fondo del botón al pasar el ratón sobre él */
}

.button {
    /* Estilos por defecto */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #018753;
    border-radius: 10px;
}

