.header {
    background-color: #000;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    position: fixed;
    z-index: 20;
}

.logo {
    max-width: 50px;
    margin-right: 50px;
    margin: 10px 30px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.buttonNav {
    color: white; /* Cambia el color del texto del botón según tus preferencias */
    padding: 10px; /* Ajusta el espacio interno del botón según tus preferencias */
    border-radius: 10px; /* Añade esquinas redondeadas al botón */
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}

.buttonNav:hover {
    background-color: #00bd2e;
}

.boton{
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px; 
    text-decoration: none;
}

.boton:hover{
    background-color: #00dd37;
}
