<header class="header">
    <img class="logo" src="../../assets/financial-profit.png" alt="Logo">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid justify-content-center"> <!-- Agregamos la clase justify-content-center -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a (click)="emitirCambioPantalla('pagos')" class="buttonNav nav-link">Sistema de Prestamos</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="emitirCambioPantalla('inversiones')" class="buttonNav nav-link">Sistema de
                            Inversiones</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="emitirCambioPantalla('bancos')" class="buttonNav nav-link">Bancos</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="emitirCambioPantalla('perfil')" class="buttonNav nav-link">Perfil</a>
                    </li>
                </ul>
                <div class="salir">
                    <nav class="nav">
                        <ul>
                            <li><a routerLink="/login" class="boton">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>

</header>