.container {
    height: calc(100vh - 159.2px);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 500px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #01AE67;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #018753;
}
.custom-modal-size {
    max-width: 550px;
}
