.wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/fondo_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.wrapper::before {
    content: ""; /* Necesario para que el pseudo-elemento aparezca */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59); /* Color negro con opacidad del 50% */
}

.registro{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: block;
}

.registro input[type="text"],
.registro input[type="password"],
.registro input[type="email"],
.registro input[type="tel"] {
    width: 500px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 500px;
}
.puta input[type="text"],
.puta input[type="password"],
.puta input[type="email"],
.puta input[type="tel"] {
    width: 500px;
    padding: 10px;
    border: none;
    background-color: rgba(231, 28, 28, 0.1);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 500px;
}



.form-group input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #01AE67;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #018753;
}
.custom-modal-size {
    max-width: 550px;
}

.modal-content{
    background-color: black;
}

